In [83]:
x = 42

In [84]:
type(x)

int

In [85]:
name = "Nina"

In [86]:
type(name)

str

In [87]:
x = int(4)
z = float(5.0)

In [88]:
y = int('4')
y
type(y)

int

In [89]:
names = ["Nina", "Max", "Rose", "Jimmy"]

In [90]:
3**2

9

In [91]:
min(3, 1, 2)

1

In [92]:
max(3, 1, 2)

3

In [93]:
round(5.9)

6

In [94]:
greeting = 'Hello, it\'s Nina'

In [95]:
print(greeting)

Hello, it's Nina

In [107]:
names = ["Nina", "Max", "Jane",12]
type(names)

list

In [104]:
names[3]

12

In [98]:
names[0]='echo'

In [99]:
print(names)

['echo', 'Max', 'Jane']

In [102]:
len(names)

4

In [105]:
a = ()

In [106]:
type(a)

tuple

In [108]:
student = ("Marcy", 8, "History", 3.5)

In [109]:
student[0]

'Marcy'

In [ ]:
student[0] = "Bob"

In [115]:
name ,_,_, grade = student

In [116]:
name

'Marcy'

In [117]:
names = ['Nina', 'Max', 'Nina']
set(names)

{'Max', 'Nina'}

In [123]:
numbers = {3, 15, 21, 0, 1}

numbers

In [128]:
 x = sorted(numbers)

In [131]:
x

[0, 1, 3, 15, 21]

In [133]:
colors = {"Red", "Green", "Blue"}

In [134]:
colors.add("Orange")

In [136]:
sorted(colors)

['Blue', 'Green', 'Orange', 'Red']

In [137]:
colors.discard("Green")

In [138]:
colors

{'Blue', 'Orange', 'Red'}

In [139]:
rainbow_colors = {"Red", "Orange", "Yellow", "Green", "Blue", "Violet"}
favorite_colors = {"Blue", "Pink", "Black"}

In [140]:
rainbow_colors | favorite_colors

{'Black', 'Blue', 'Green', 'Orange', 'Pink', 'Red', 'Violet', 'Yellow'}

In [141]:
rainbow_colors & favorite_colors

{'Blue'}

In [142]:
nums = {1: "one", 2: "two", 3: "three"}
len(nums)

3

In [143]:
nums = {"one": 1, "two": 2, "three": 3}

nums["two"]

2

In [193]:
nums = {1: "one", 2: "two", 3: "three"}

In [194]:
1 in nums

True

In [152]:
nums[8] = "oops, overwritten"

In [153]:
nums

{1: 'one', 2: 'two', 3: 'three', 'apple': 'four', 8: 'oops, overwritten'}

In [154]:
colors = {"Green": ["Spinach"]}
colors

{'Green': ['Spinach']}

In [155]:
colors["Green"].append("Apples")
colors

{'Green': ['Spinach', 'Apples']}

In [158]:
if 3 < 5:
   print("Hello, World!")

Hello, World!

In [161]:
b = False
if not b:
    print("Negation in action!")

Negation in action!

In [162]:
a = True
if a:
    print("Hello")
else:
    print("Goodbye")

Hello

In [164]:
a = 9
if a > 10:
    print("Greater than 10")
elif a < 10:
    print("Less than 10")
elif a < 20:
    print("Less than 20")
else:
    print("Dunno")

Less than 10

In [195]:
colors = ["Red", "Green", "Blue", "Orange"]
for item in colors:
    print(f"The color is: {item}")

The color is: Red
The color is: Green
The color is: Blue
The color is: Orange

In [168]:
for index, item in enumerate(colors):
    print(f"Item: {item} is at index: {index}.")

Item: Red is at index: 0.
Item: Green is at index: 1.
Item: Blue is at index: 2.
Item: Orange is at index: 3.

In [196]:
for num in range(5):
    print(f"The number is: {num}")

The number is: 0
The number is: 1
The number is: 2
The number is: 3
The number is: 4

In [170]:
for num in range(1, 5):
    print(f"The number is: {num}")

The number is: 1
The number is: 2
The number is: 3
The number is: 4

In [ ]:
hex_colors = {
    "Red": "#FF0000",
    "Green": "#008000",
    "Blue": "#0000FF",
}

In [174]:
for color, hex_value in hex_colors.items():
    print(f"For color {color}, the hex value is: {hex_value}")

For color Red, the hex value is: #FF0000
For color Green, the hex value is: #008000
For color Blue, the hex value is: #0000FF

In [175]:
counter = 0
max_val = 4
while counter < max_val:
    print(f"The count is: {counter}")
    counter = counter + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3

In [179]:
names = ["Rose", "Max", "Nina", "Phillip"]
for name in names:
    print(f"Hello, {name}")
    if name == "Nina":
        break

Hello, Rose
Hello, Max
Hello, Nina

In [177]:
for name in names:
    if name != "Nina":
        continue
    print(f"Hello, {name}")

Hello, Nina

In [186]:
my_list = []

In [187]:
names = ["Rose", "Max", "Nina", "Phillip"]
for name in names:
    my_list.append(len(name))
print(my_list)

[4, 3, 4, 7]

In [182]:
 names = ["Nina", "Max", "Rose", "Jimmy"]
 my_list = [len(name) for name in names]
 print(my_list)

[4, 3, 4, 5]

In [198]:
names = ["Nina", "Max", "Rose", "Jimmy"]
my_list = [("length", len(name) * 2) for name in names]
print(my_list)

[('length', 8), ('length', 6), ('length', 8), ('length', 10)]

In [199]:
names = ["Nina", "Max", "Rose", "Jimmy"]
my_list = [len(name) for name in names if len(name) % 2 == 0]
print(my_list)

[4, 4]

In [200]:
my_list = [0, 1, 2, 3, 4]
my_string = ",".join([str(num) for num in my_list])
print(my_string)

0,1,2,3,4

In [201]:
my_sum = sum([0, 1, 2, 3, 4])
print(my_sum)

10

In [202]:
my_sum = sum([num for num in range(0, 100) if num % 3 == 0])
print(my_sum)
my_min = min([num for num in range(0, 100) if num % 3 == 0])
print(my_min)
my_max = max([num for num in range(0, 100) if num % 3 == 0])
print(my_max)

1683
0
99

In [ ]:
{'a','b','c'} | {'a','b','d'}

{'a', 'b', 'c', 'd'}